{% extends "layout.html" %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename = 'create.js') }}"></script>
{% endblock %}

{% block content %}
<div class="row header_name">
    <h2>
        <b>Player name: </b><input type="text" id="name">
    </h2>
</div>
<div class="row">
    <div class="col-md-6 picture_div">
        <!-- <img class="picture" src="{{player_picture}}" alt="image not available"> -->
        <b>Picture URL: </b><input type="text" id="image">
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-8">
                <div class="row info_box no-gutters" id="role_text">
                    <b>Role: </b><input type="text" id="role">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row info_box no-gutters" id="age_text">
                    <b>Age: </b><input type="text" id="age">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row info_box no-gutters" id="teams_text">
                    <b>Teams: </b><input type="text" id="teams">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="info_box">
                <b>Description: </b><input type="text" id="description">
            </div>
        </div>
    </div>
    <div class="row submit_section">
        <button id="submit">Submit</button>
    </div>
</div>

{% endblock %}

