{% extends "layout.html" %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename = 'view.js') }}"></script>  
<script>
    var id_num = {{id_num|tojson}}
    var player_role = {{player_role|tojson}}
    var player_age = {{player_age|tojson}}
    var player_teams = {{player_teams|tojson}}
</script>
{% endblock %}

{% block content %}
<div class="row header_name">
    <h2>{{player_name}}</h2>
</div>
<div class="row">
    <div class="col-md-6 picture_div">
        <img class="picture" src="{{player_picture}}" alt="image not available">
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-8">
                <div class="row info_box no-gutters" id="role_text">
                    <b>Role: </b>{{player_role}}
                </div>
            </div>
            <div class="col-md-4" id="role_buttons">
                <button id="edit_role" type="button" class="btn btn-outline-primary edit_btn">Edit</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row info_box no-gutters" id="age_text">
                    <b>Age: </b>{{player_age}}
                </div>
            </div>
            <div class="col-md-4" id="age_buttons">
                <button id="edit_age" type="button" class="btn btn-outline-primary edit_btn">Edit</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row info_box no-gutters" id="teams_text">
                    <b>Teams: </b>{{player_teams}}
                </div>
            </div>
            <div class="col-md-4" id="teams_buttons">
                <button id="edit_teams" type="button" class="btn btn-outline-primary edit_btn">Edit</button>
            </div>
        </div>
        <div class="row">
            <div class="info_box">
                <b>Descriptions: </b>{{player_description}}
            </div>
        </div>
    </div>
</div>
{% endblock %}